<div class="mt-4 position-sticky top-0 d-none d-md-block bg-white width-full border-bottom color-border-secondary"
  style="z-index:3;">
  <div class="container-xl px-3 px-md-4 px-lg-5">
    <div class="gutter-condensed gutter-lg flex-column flex-md-row d-flex">
      <div class="flex-shrink-0 col-12 col-md-3 mb-4 mb-md-0"></div>
      <div class="flex-shrink-0 col-12 col-md-9 mb-4 mb-md-0">
        <div class="UnderlineNav width-full box-shadow-none">
          <nav class="UnderlineNav-body">
            <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}#about">About</a>
            <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}#education">Education</a>
            <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}#experience">Experience</a>
            <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}#publications">Publications</a>
            <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}#skills">Skills</a>
            <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}#activities">Activities</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
