<div class="UnderlineNav user-profile-nav d-block d-md-none position-sticky top-0 pl-3 ml-n3 mr-n3 pr-3 bg-white"
  style="z-index:3;">
  <nav class="UnderlineNav-body" style="overflow-x:auto;">
    <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}#about">About</a>
    <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}#education">Education</a>
    <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}#experience">Experience</a>
    <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}#publications">Publications</a>
    <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}#skills">Skills</a>
    <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}#activities">Activities</a>
  </nav>
</div>
